.categoria-tabela-container {
  margin-top: 40px;
}

.categoria-lista-titulo {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.categoria-tabela {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.categoria-tabela th,
.categoria-tabela td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.imagem-miniatura {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.botao-excluir {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.botao-excluir:hover {
  background-color: #c9302c;
}
