@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
    overflow-x: hidden;
    background-color: #000000;
}


.map-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin-top: -40px;
}
  
.map-container {
    width: 65%; 
    height: 550px; 
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}