.form-container {
  padding: 40px;
  max-width: 600px;
  margin: 60px auto;
  border-radius: 10px;
  color: white;
}

.form-title {
  text-align: center;
  color: #D32F2F;
  margin-bottom: 30px;
  font-size: 24px;
  text-transform: uppercase;
}

.crud-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.crud-form label {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.crud-form input,
.crud-form select {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #222;
  color: white;
  outline: none;
}

.error-msg {
  color: #ff4d4d;
  font-size: 13px;
  margin-top: -12px;
  margin-bottom: -12px;
}

.preview-container {
  text-align: center;
  margin-top: 10px;
}

.imagem-preview {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  margin-top: 10px;
}

.add-button {
  background-color: #D32F2F;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-button:hover {
  background-color: #c20710;
  transform: scale(1.02);
}
