@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

/* container geral com centralização */
.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: relative;
  overflow: hidden;
}


.login-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  z-index: 1;
  flex-wrap: nowrap;
  transform: translateX(-60px);
}

/* imagem */
.login-box {
  max-width: 500px;
  transform: translateX(-20px);
}

.login-text {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #FFC107;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fotoLogin {
  width: 140%;
  border-radius: 12px;
  filter: drop-shadow(-2px 2px 5px rgba(255, 255, 255, 0.738));
  object-fit: cover;
}

/* formulário */
.input-box {
  padding: 2rem;
  border-radius: 20px;
  max-width: 700px;
  width: 100%;

  /* efeito vidro fosco */
  background: rgba(255, 255, 255, 0.15);      /* fundo branco translúcido */
  backdrop-filter: blur(10px);                 /* blur do fundo atrás da div */
  -webkit-backdrop-filter: blur(10px);         /* suporte Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);  /* borda suave translúcida */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* sombra para destacar */
  color: #fff;                                  /* texto branco dentro (se tiver) */
}


.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-field {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  color: #000;
  background: #fff;
  transition: 0.3s ease;
}

.input-field::placeholder {
  color: #555;
  opacity: 0.8;
}

.input-field:focus {
  outline: none;
  color: #D32F2F;
  box-shadow: 0 0 0 2px #ffffff;
  transform: scale(1.02);
}

.input-submit {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.button-login-profile {
  padding: 14px 40px;
  background-color: #FFC107;
  color: #000000;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-login-profile:hover {
  transform: scale(1.05);
}

.button-login-profile:active {
  transform: scale(0.95);
  background-color: #ffffffab;
}


.blob15, .blob13, .blob16 {
  position: fixed;
  z-index: 0;
  opacity: 0.2;
  pointer-events: none;
}

.blob15 {
  top: 25%;
  left: -150px;
  width: 250px;
}

.blob13 {
  bottom: 210px;
  right: 10px;
  width: 200px;
}

.blob16 {
  top: 80%;
  left: 13%;
  width: 200px;
  transform: translate(-50%, -50%);
}
