@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
    overflow-x: hidden;
    background-color: #000000;
  }
  
  .App {
    min-height: 100vh;
  }
  
  .logo {
    height: 150px !important;  
    width: auto !important;   
    margin-left: 50px; 
  }
  
  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FFC107; 
    border-radius: 5px; 
    transition: 0.3s ease-in;
  }

  .banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%; 
    max-width: 1400px; 
    overflow: hidden;
    margin: 0 auto;
  }

  .banner video {
    width: 100%; 
    height: auto; 
    display: block;
    border-radius: 10px; 
  }