@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
    overflow-x: hidden;
    background-color: #000000;
  }
  
  .App {
    min-height: 100vh;
  }
  
  .logo {
    height: 150px !important;  
    width: auto !important;   
    margin-left: 50px; 
  }
  
  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #1e1e1e; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FFC107; 
    border-radius: 5px; 
    transition: 0.3s ease-in;
  }

  .banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%; 
    max-width: 1400px; 
    overflow: hidden;
    margin: 0 auto;
  }

  .banner video {
    width: 100%; 
    height: auto; 
    display: block;
    border-radius: 10px; 
  }

  .blob1 {
    position: absolute;
    z-index: -1;
    width: 380px;
    right: 1300px;
  }

  .blob2 {
    position: absolute;
    z-index: -1;
    width: 380px;
    left: 1380px;
    top: 900px;
  }

  .blob3 {
    position: absolute;
    width: 280px;
    left: 1420px;
    top: -15px;
    z-index: -1;
  }

  .search-title {
    text-align: center;
    font-size: 2.8rem;
    margin-top: 50px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 2px;
  }

  .drinkred {
    color: #D32F2F;
    text-shadow: 0px 0px 5px #D32F2F;
    font-style: italic;
  }

  .drinkyellow {
    color: #FFC107;
    text-shadow: 0px 0px 5px #FFC107;
    font-style: italic;
  }


  .drinks-card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }

  .card-order {
    width: 180px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
    box-shadow: 0px 0px 1px rgb(255, 255, 255);
    cursor: pointer;
  }

  .card-order:hover {
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
    transform: translateY(-10px);
  }

  .card-drinks img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .card-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
  }
  
  