@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.profile-wrapper {
  width: 700px;
  margin: auto;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.user-icon i {
  font-size: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.user-icon i:hover {
  transform: scale(1.2);
  color: #FFC107;
}

.user-icon h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}