@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');



.refri-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 50vh;
  padding: 20px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 950px;
  height: 500px;
  margin-left: 50px;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  color: #FFC107;
  font-size: 40px;
  z-index: 1;
}

.refri-img {
  height: 550px;
  max-width: 1200px;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.refri-img.fade-out {
  opacity: 0;
}

.refri-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 30px;
  min-width: 650px;
  margin-left: 100px;
}

.title-icon h2 {
  font-size: 3rem;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 2px 2px 8px #D32F2F;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.refri-info h3 {
  margin: 4px 0;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  margin-top: 40px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 8px #D32F2F;
  text-transform: uppercase;
}

.preco {
  font-weight: 600;
  color: #D32F2F;
  font-size: 32px;
  font-style: italic;
  margin-top: 20px;
}

.botaoPedido {
    margin-top: 40px;
    padding: 20px;
    background-color: #FFC107;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: inline-block;
    max-width: 250px;
}

.botaoPedido:hover {
    transform: scale(1.05);
}
  
.botaoPedido:active {
    transform: scale(0.95);
    background-color: #c89706;
}


.input-cep {
    margin-top: 20px;
    padding: 20px 35px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 250px;
    max-width: 100%;
    margin-top: -68px;
    margin-left: 300px;
    transition: 0.3s ease;
}

.input-cep:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FFC107;
    transform: scale(1.03)
}

.title-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 530px;
  width: 100%;
}

.bagShop {
    font-size: 45px;
    color: #FFC107;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    margin: 0;
    flex-shrink: 0;
}
  
.bagShop:hover {
    transform: scale(1.2);
}

.bagShop:active {
  transform: scale(0.95);
  color: #c89706;
}

