@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
    overflow-x: hidden;
    background-color: #000000;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}


.register-content input::placeholder {
    color: black; 
    font-size: 14px;
    opacity: 0.8; 
}


.button-register {
    width: 35%;
    padding: 14px;
    background: #FFC107;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px; 
    transition: 0.3s ease;
}
  
.button-register:hover {
    transform: scale(1.1);
}

.blob14 {
    position: absolute;
    z-index: -1;
    width: 150px;
    right: 1300px;
    top: 300px;
}