@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
    overflow-x: hidden;
    background-color: #000000;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.contato h2 {
    color: white;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.contato h3 {
    color: white;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    margin-top: -35px;
    letter-spacing: 1px;
}

.red-service {
    color: #D32F2F;
    text-shadow: 0px 0px 5px #D32F2F;
}

.blob4 {
    position: absolute;
    z-index: -1;
    width: 380px;
    right: 1320px;
    top: 550px;
}


.blob5 {
    position: absolute;
    z-index: -1;
    width: 380px;
    left: 1320px;
    top: 120px;
}

.blob6 {
    position: absolute;
    z-index: -1;
    width: 480px;
    left: 1400px;
    top: 1200px;
}

.blob7 {
    position: absolute;
    z-index: -1;
    width: 120px;
    left: 220px;
    top: 240px;
    transform: rotate(-15deg);
}

.blob8 {
    position: absolute;
    z-index: -1;
    width: 160px;
    left: 1190px;
    top: 690px;
}



.contato-icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-icones i {
    font-size: 70px;
    margin: 0 120px;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 60px;
}

.contato-icones i:hover {
    transform: scale(1.2);
    color: #FFC107;
    text-shadow: 0px 0px 5px #FFC107;
}

.regioes {
    text-align: center;
    margin-top: 250px;
}

.lugares {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 50px;
    text-align: center;
}


.localizacao {
    display: flex; 
    align-items: center; 
    gap: 0px; 
}


.localizacao i {
    font-size: 24px;  
    color: white;
    margin-right: -10px;
    transition: 0.3s ease;
}

.localizacao h2 {
    text-transform: uppercase;
    margin: 0 20px;
    font-weight: 400;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}

.regioes h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
}
